<section class="ui segment">
    <section class="ui grid">
        <div class="three wide column">
            <h2>
                Goals
            </h2>
        </div>
        <div class ="ten wide center aligned column">
            <h2>
                {{#if goals}}
                    Goals open: {{goalsOpen}} | Goals achieved: {{goalsAchieved}} | Goals missed: {{goalsMissed}}
                {{else}}
                    No goals set!
                {{/if}}
            </h2>
        </div>
        <div class="three wide right aligned column">
            <a href="/member/goals">
                <button class="ui blue button">Manage Goals</button>
            </a>
        </div>
    </section>
</section>