{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
      We used to be really into Java at this gym
  </h3>
  <p>
      But now we're ALL ABOUT JavaScript!
  </p>
</section>