{{> menu id="dashboard"}}

<section class="ui segment">
  {{> memberstats}}
  {{> addassessment}}
  {{> listassessments}}
  {{#each assessments}}
    <p>
      weight: {{weight}}
    </p>
  {{/each}}
</section>