{{> menu id="dashboard"}}

{{> memberstats}}
<section class="ui segment">
    <header class="ui header">
        {{member.firstName}} {{member.lastName}}'s goals
    </header>
    {{#each goals}}
        <section class="ui segment">
            {{category}} {{target}}
        </section>
    {{/each}}
</section>