{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to the Glitch (formerly Play) Gym!
    </h1>
    <p>
        No better way to shake off the nuclear radiation shakes!
    </p>
</section>