{{> welcomemenu id="signup"}}

<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <form class="ui stacked segment form" action="/register" method="POST">
            {{> userform}}
            {{> memberform}}
        </form>
    </div>
    <div class="column">
        <img class="ui image" alt="signup image" src="/images/gym-1.png">
    </div>
</div>